
@media screen and (max-width:576px) {
   

        nav{
            flex-direction: column;
            margin: 0px;
            align-items: center;
            padding-left: 50px;
            width: 80%;
            margin-left: 10px;
            justify-content: center;

        }
        ul{
            flex-direction: column;  
        }
        .frist-section{
            flex-direction: column;
            flex-direction: column-reverse;
            width: 65%;  
            padding-right: 90px;
            align-items: center;
            padding-left: 60px;
        }
    
        .image-div{
            margin-left:3.5rem ;
            width: 70%;
            background-color: white;
            padding: 60px;
            border: 1px solid red;
    
           }
           .containar{
            margin-left: 2.9rem;
            background-color: rgb(224, 188, 140);
            padding: 30px;
            margin-top: 30px;
    
           }
           .nav-title{
            font-size: 30px;
            align-items: center;
    
        }
        .nav-title img{
            height: 25px;
            margin-left: -35px;
    
        }
    section{
        width: 100%;
    }
    header{
        width: 90%;
    }

/* section-02 */

.game { 
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 0px;
    width: 90%;
    align-items: center;
    
   }
   .four-one img{
    width: 400px;
    height: auto;
    padding: 15px;
    box-sizing: border-box;

   }
 
   .trd-ttl{
    text-align: center;
   }
   .thde-dispsn{
    text-align: center;
    padding: 2rem;
   }
   .four-one p{
    padding-left: 21px;
   }
   .add-imag{
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin: 10px;
}
.big{
    width: 250px;


}
.smole{
    width: 150px;
    height: 150px;
    padding-bottom: 100px;
    
    
}
.thirrd-tow-image {
    position: relative;
    display: flex;
   
}
/* section-03 */
.sectn-all{
    flex-direction: column;
    justify-content: center;
    background-color: #F948B2;
    box-sizing: border-box;
    align-items: center;
    padding-right: 0px;
    padding: 10px;

   }
   listt-item{
    display:grid;
    display: flex;
    grid-template-rows: repeat(2,1fr);
    
    padding: 20px;

   }
      /* section-04 */

       .logo-all{
        grid-template-columns: repeat(3,3fr);
        justify-content: center;
        padding: 1rem 1rem 1rem 2rem;
    
       }
       .logo{
        display: flex;
        align-items:center ;
        width: 30px;
       }
       p{
        font-size:7rem;
        }


        .last{
            color: rgba(255, 255, 255, 0.60);
            font-size: 16px;
            font-weight: 500;
           }

           .last{
            flex-direction: column;
            padding: 0px;
            padding-top: 0rem;
            margin-right: 0px;
            
            
        }
      p{
        font-size: 10px;
      }

       
        #footer-all{
            background-color: #261555;
            flex-direction: column;
        
           }
           ul{
            align-items: center;
            gap: 5px;
            padding-left: 0rem;            
           }

           .our-list li a{
            color: aliceblue;
            padding: 0px;
            margin: 0px;
           }




           .logoo img{
            width: 50px;
            align-items: center;
            margin-right:5px ;
            padding-top: 0px;
           
              }
              .logoo  {
               padding-left: 5rem;
               padding-top: 10px;
               
              }
  
   h4 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
  

   }
   .play{
    padding: 2rem;
    text-align: center;
   }

}
   
