

    @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    font-family: 'Fasthand', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}




*{
    margin: 0px;
    padding: 0px;
}
.nav-title{
    font-size: 30px;
    align-items: center;
    
}
.nav-title img{
    height: 25px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin-top: 10px;

}
.g{
  color: rgb(238, 48, 165);
}
ul li{
    list-style: none;
   

}
ul li a{
    color: black;
    text-decoration: none;
}
ul{
    display: flex;
    gap: 2rem;
   
}
.nav-icon-one {
    width: 1rem;
    height: 1rem;
}
.nav-icon{
    background-color: rgb(160, 170, 170);
    padding: 10px 30px;
    border-radius: 5px;
   

}
.one{
   margin-top: 10px;
}
/* section-01 */
.containar-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
   }
   .containar-color-title{
    color: #F948B2;
    font-size: 3.5rem;
    font-weight: 800;

   }
   .li-item{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

   }
   .containar{
    margin-left: 150px;
  
   }
   .frist-section{
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   .image-div{
    margin-left:400px ;
    width: 50%;
   
   }
   .image-div img{
   width: 50%;
   margin-left: 20px;
   padding: 50px;
   }
   .btn-02{
    background-color: #4EC5F7;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;

   }
   .btn-01{
    background-color: rgb(224, 51, 77);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;


   }
   .frist-section{
    width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 20px;
    background-color: antiquewhite;
   }