

    @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Work+Sans:wght@400;500;700;800&display=swap');

*{
    font-family: 'Fasthand', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}




*{
    margin: 0px;
    padding: 0px;
}
.nav-title{
    font-size: 30px;
    align-items: center;
    
}
.nav-title img{
    height: 25px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   margin-top: 10px;

}
.g{
  color: rgb(238, 48, 165);
}
ul li{
    list-style: none;
   

}
ul li a{
    color: black;
    text-decoration: none;
}
ul{
    display: flex;
    gap: 2rem;
   
}
.nav-icon-one {
    width: 1rem;
    height: 1rem;
}
.nav-icon{
    background-color: rgb(160, 170, 170);
    padding: 5px 30px;
    border-radius: 5px;
    margin-bottom: 5px;
   

}
.one{
   margin-top: 10px;
}
/* section-01 */
.containar-title{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
   }
   .containar-color-title{
    color: #F948B2;
    font-size: 3.5rem;
    font-weight: 800;

   }
   .li-item{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

   }
   .containar{
    margin-left: 150px;
  
   }
   .frist-section{
    display: flex;
    justify-content: space-around;
    align-items: center;

   }
   .image-div{
    margin-left:400px ;
    width: 50%;
   
   }
   .image-div img{
   width: 50%;
   margin-left: 20px;
   padding: 50px;
   }
   .btn-02{
    background-color: #4EC5F7;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;

   }
   .btn-01{
    background-color: rgb(224, 51, 77);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;


   }
   .frist-section{
    width: 100%;
    height: auto;
    padding: 30px;
    padding-bottom: 20px;
    background-color: antiquewhite;
    margin-right: 0px;
    
   }
   /* section-02 */

   .online{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    padding: 10px;
   }
   .funny{
    color: #F948B2;
    font-size: 48px;
    font-weight: 700;
   }
   .four-description{
    font-size: 18px;
   font-weight: 400;
   text-align: center;
   padding: 5px;
   
   }
   .ssecondd{
   justify-content: center;
   align-items: center;
   }
   .game { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 100px;
    width: 90%;
    align-items: center;
    
   }
   .four-one img{
    width: 200px;
    height: auto;

   }

   /* 3rd-section */
   .third-containar{
    color: #0B0223;
    font-size: 1rem;
    font-weight: 700;
 
   }
   .play{
    color: #F948B2;
    }

    .big{
        width: 300px;

    }
    .smole{
        width: 200px;
        height: 200px;
        padding-bottom: 100px;
        
    }
    .thirrd-tow-image {
        position: relative;
        display: flex;
       
    }
    .add-imag{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 20px;
    }
    /* section-03 */
   .carrres{
    color: white;
    font-size: 48px;
    font-weight: 700;

   }
   .sen-despn{
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;

   }
 
   .sectn-all{
    display: flex;
    justify-content: center;
    background-color: #F948B2;
    box-sizing: border-box;
    align-items: center;
    padding-right: 50px;
    padding-left: 10px;

   }
   .list{
    color: white;
   font-size: 20px;
   font-weight:400;
   padding-left: 0px;
   margin-left: 0px;


   }
   .ssen-03 img{
    width: 400px;
    height: 500px;
    box-sizing: border-box;
   }
  .listt-item{
    padding-left: 0px;
  }
   /* section-04 */

   .logo{
    display: flex;
    align-items:center ;
    width: 70%;

   }
   .logo:hover{
    background-color: #aba5b9;
    border: 1px solid rgb(214, 73, 73);
    border-radius: 10px;


   }
   p{
    font-size: 1rem;
   }
   .logo-all{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
   
    padding: 2rem 1rem 1rem 2rem;

   }
   #game{
   text-align: center;
   padding-top: 2rem ;
   padding-bottom: 1rem;
    
   }
   ul{
    align-items: center;
    gap: 20px;
    padding-left: 23rem;
    
   }
   .our-list li a{
    color: aliceblue;
   }
   .logoo img{
 width: 80px;
 align-items: center;
 margin-right:90px ;
 padding-top: 30px;

   }
   .logoo  {
    padding-left: 20rem;
    padding-top: 30px;
    
   }
   #footer-all{
    background-color: #261555;

   }
   .last{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
   }
   h4 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding-right: 40px;
  

   }
   .play{
    padding: 2rem;
    text-align: center;
   }
.last{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 5rem;
    margin-right: 10px;
    
}


   